.main__header {
  padding: 1.2rem 0;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .main__header {
    padding: 1.5rem 0;
  }
}

@media only screen and (min-width: 992px) {
  .main__header {
    padding: 2rem 0;
  }
}

.main__logo--img {
  max-width: 120px;
}

@media only screen and (min-width: 480px) {
  .main__logo--img {
    max-width: 155px;
  }
}

@media only screen and (min-width: 768px) {
  .main__logo--img {
    max-width: 100%;
  }
}

.header__search--form {
  border: 1px solid var(--border-color);
}

.main__header {
  transition: transform 0.4s ease, background 0.3s ease;
  will-change: transform;
}

/* saat disembunyikan */
.main__header.hide {
  transform: translateY(-100%);
}

/* saat tampil */
.main__header.show {
  transform: translateY(0);
}

/* STICKY HEADER  */
.header__sticky.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  /* background: var(--white-color); */
  background: white;
  left: 0;
  z-index: 99;
  padding: 1.5rem 0;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 990px) {
    .header__sticky.sticky {
      position: fixed;
      background: var(--white-color);
      padding: 1.5rem 0;
      -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
              box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    }
}

.header__sticky.sticky .header__sticky--block {
  display: block !important;
}

.header__sticky.sticky .header__sticky--none {
  display: none !important;
}

@media only screen and (max-width: 991px) {
  .header__sticky.sticky .header__menu.header__sticky--block {
    display: none !important;
  }
}

.header__sticky .header__sticky--block {
  display: none !important;
}

/* MENU LIST HEADER  */
.header__menu--items {
  margin-right: 3rem;
  position: relative;
}

@media only screen and (min-width: 992px) {
  .header__menu--items {
    margin-right: 2.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .header__menu--items {
    margin-right: 3rem;
  }
}

@media only screen and (min-width: 1366px) {
  .header__menu--items {
    margin-right: 4rem;
  }
}

@media only screen and (min-width: 1600px) {
  .header__menu--items {
    margin-right: 6rem;
  }
}

.header__menu--items:last-child {
  margin-right: 0;
}

.header__menu--items.style2 {
  margin-right: 2rem;
}

@media only screen and (min-width: 992px) {
  .header__menu--items.style2 {
    margin-right: 2.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .header__menu--items.style2 {
    margin-right: 3rem;
  }
}

@media only screen and (min-width: 1366px) {
  .header__menu--items.style2 {
    margin-right: 3.5rem;
  }
}

@media only screen and (min-width: 1600px) {
  .header__menu--items.style2 {
    margin-right: 5rem;
  }
}

/* .header__menu--items:hover .header__menu--link {
  color: var(--secondary-color);
  font-weight: bold;
} */

.header__menu--items::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #333;
  transition: all 0.3s ease;
  font-weight: bold;
}

.header__menu--items:hover::after {
  font-weight: bold;
  width: 100%;
  left: 0;
}


.header__menu--items:hover .header__sub--menu {
  visibility: visible;
  margin-top: 0;
  opacity: 1;
}

.header__menu--items:hover .header__mega--menu {
  visibility: visible;
  margin-top: 0;
  opacity: 1;
}

.header__menu--link {
  font-size: 1.6rem;
  line-height: 2.5rem;
  padding: 2px 0;
  color: var(--text-gray-color);
}
.nav-menu-active {
  border-bottom: solid #333 2px;
}

@media only screen and (min-width: 1200px) {
  .header__menu--link {
    font-size: 1.7rem;
    padding: 2px 0;
  }
}

@media only screen and (min-width: 1600px) {
  .header__menu--link {
    padding: 2px 0;
  }
}